@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-background: #191919;
  --color-surface: #5d5d5d;
  --color-border: #959595;
  --color-card: #202020;
  --color-sidebar: #2c2c2c;
  --color-button: #414141;
  --color-title: #f0f0f0;
}
